body {
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 5%;
  font-size: clamp(14px, 2vw, 24px); 
}

header {
  text-align: center;
  background-color:deeppink;
}

.box-one {
  text-align: left;
  word-wrap: break-word;
}